*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd


simWorkspace/
tmp/


.*
*.o
*.out

# Vivado Related
*.log
*.jou
*.str
*.mcs
*.prm
*.bit

# Bitstream Related
*.bin
*.bit
*.ll
*.ltx

# Generated HLS project folder
# Listed in template file as well
generated_hls_project/
generated_vivado_project/
relnet_512/
sdk_project/
*.backup/

# Generated IP repositories
generated_ip/

# Linux Kernel Related
*.symvers
*.ko
*.order
*.mod.c

# AWS Specific
awsver.txt

tags

!.github/
!.gitignore
!.clang-format
