[submodule "board/fpga/src/lib/verilog/verilog-axi"]
	path = board/fpga/src/lib/verilog/verilog-axi
	url = https://github.com/alexforencich/verilog-axi
[submodule "board/fpga/src/lib/verilog/verilog-axis"]
	path = board/fpga/src/lib/verilog/verilog-axis
	url = https://github.com/alexforencich/verilog-axis.git
